@model FirstSignalR.Model.ChatMessage
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <script src="../../Scripts/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery-ui-1.8.22.min.js" type="text/javascript"></script>
    <script src="../../Scripts/jquery.signalR-0.5.2.min.js" type="text/javascript"></script>
    <script src="/SignalR/hubs" type="text/javascript"></script>
    <script src="../../Scripts/jquery.ui.chatbox.js" type="text/javascript"></script>
    <link href="../../Scripts/jquery.ui.chatbox.css" rel="stylesheet" type="text/css" />
    <title>Chat Administrator</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("Create", "Home"))
        {
            @Html.LabelFor(p => p.Name)
            @Html.EditorFor(p => p.Name)
            <br />
            @Html.LabelFor(p => p.Message)
            @Html.EditorFor(p => p.Message)
            <br />
            @Html.LabelFor(p => p.SessionId)
            @Html.EditorFor(p => p.SessionId)
            <input type="submit" value="Submit" />
        }
    </div>
</body>
</html>
